<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MLUser</key>
	<dict>
		<key>tableName</key>
		<string>User</string>
		<key>properties</key>
		<dict>
			<key>id</key>
			<string>int64</string>
			<key>name</key>
			<string>string</string>
			<key>dob</key>
			<string>date</string>
			<key>deleted</key>
			<string>boolean</string>
		</dict>
		<key>relationships</key>
		<dict>
			<key>comments</key>
			<dict>
				<key>childClass</key>
				<string>MLComment</string>
				<key>parentIdColumn</key>
				<string>userId</string>
				<key>indexColumn</key>
				<string>idx</string>
			</dict>
			<key>tags</key>
			<dict>
				<key>lookupTable</key>
				<string>UsersTagsLookup</string>
				<key>childClass</key>
				<string>MLComment</string>
				<key>parentIdColumn</key>
				<string>userId</string>
				<key>childIdColumn</key>
				<string>tagId</string>
				<key>indexColumn</key>
				<string>idx</string>
			</dict>
		</dict>
	</dict>
	<key>MLComment</key>
	<dict>
		<key>tableName</key>
		<string>Comment</string>
		<key>properties</key>
		<dict>
			<key>id</key>
			<string>int64</string>
			<key>text</key>
			<string>string</string>
			<key>createdAt</key>
			<string>date</string>
		</dict>
	</dict>
	<key>MLTag</key>
	<dict>
		<key>tableName</key>
		<string>Tag</string>
		<key>properties</key>
		<dict>
			<key>id</key>
			<string>string</string>
			<key>name</key>
			<string>string</string>
		</dict>
	</dict>
</dict>
</plist>
