<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ModelLite.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ModelLiteTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9364DA618CC2FC8002F0768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9364DC118CC2FC9002F0768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93BE49618D2DB7E00A63831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93BE4AC18D2DB7E00A63831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9A7A9A718D2BB3A0079205C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9A7A9B418D2BB3A0079205C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
