<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JGRUser</key>
	<dict>
		<key>tableName</key>
		<string>User</string>
		<key>properties</key>
		<dict>
			<key>id</key>
			<string>int64</string>
			<key>name</key>
			<string>string</string>
			<key>dob</key>
			<string>date</string>
			<key>deleted</key>
			<string>boolean</string>
		</dict>
	</dict>
</dict>
</plist>
